<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Uniquify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app">
        <a href="/spotifyAuth">Authenticate</a>
        
        <div v-show="accessToken">
            <pre>accessToken: {{ accessToken }}</pre>
            
            <button @click="getMyDetailsClicked" :disabled="!accessToken">Get my Spotify user details</button>
            <h3>User profile:</h3>
            <pre>{{ JSON.stringify(me) }}</pre>

            <button @click="getMyPlaylists" :disabled="!me">Get my Playlists</button>
            <div v-if="playlists">
                <h3>{{ !removeFrom ? 'Select playlist to remove songs from' : 'Select playlists to look for duplicates in' }}</h3>
                <button v-if="removeFrom" @click="resetSelection">Reset</button>
                <input type="text" v-model="playlistsFilter" placeholder="Filter">
                <div class="playlists">
                    <div v-for="playlist in playlists" class="playlist" :class="{ 'selected-using' : removeUsing.some(pl => pl.id == playlist.id) }" @click="select(playlist)" v-if="playlist.name.toLowerCase().includes(playlistsFilter.toLowerCase())">
                        <img style="height: 48px; margin-bottom: 8px;" :src="playlist.images[0] ? playlist.images[0].url : ''">
                        <span>{{ playlist.name }}</span>
                    </div>
                </div>
                <pre>removefrom: {{ removeFrom ? removeFrom.name : '' }}</pre>
                <pre>removeUsing: {{ removeUsing.map(p => p.name).join(', ') }}</pre>

                <div style="margin-bottom: 12px;">
                    <button v-if="removeFrom" @click="getTracksFeatures(removeFromTracks)">Get removeFrom tracks features</button>
                    <button v-if="removeFrom" @click="removeTracksFromPlaylistOutsideBPMRange">Remove tracks from selected playlist outside BPM range(s)...</button>
                </div>

                <div class="comparisonArea" v-if="removeFrom">
                    <div v-if="removeFrom">
                        <table>
                            <thead class="playlist-contents-head">
                                <tr>
                                    <th>Artist(s)</th>
                                    <th>Track name</th>
                                    <th>Track Uri</th>
                                    <!-- BPM if avaiable on any tracks -->
                                    <th v-if="removeFromTracks.some(t => t.track.tempo)">BPM</th>
                                </tr>
                            </thead>
                            <tbody class="playlist-contents-body">
                                <tr :class="{ 'to-delete': willBeDeleted(plTrack) }" v-for="plTrack of removeFromTracks">
                                    <td>{{ plTrack.track.artists.map(a => a.name).join(', ') }}</td>
                                    <td>{{ plTrack.track.name }}</td>
                                    <td>{{ plTrack.track.uri }}</td>
                                    <td>{{ plTrack.track.tempo }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div v-if="removeUsing.length">
                        <table>
                            <thead class="playlist-contents-head">
                                <tr>
                                    <th>Artist(s)</th>
                                    <th>Track name</th>
                                </tr>
                            </thead>
                            <tbody class="playlist-contents-body">
                                <tr v-for="rmTrack of removeUsingTracks">
                                    <td>{{ rmTrack.track.artists.map(a => a.name).join(', ') }}</td>
                                    <td>{{ rmTrack.track.name }}</td>
                                    <td>{{ rmTrack.track.uri }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button v-if="removeUsing.length" class="remove-button" @click="deleteTracks(removeFrom, removeUsingTracks)">
                    Remove tracks from {{ removeFrom.name }}
                </button>
            </div>
        </div>

    </div>

    <script src="vueApp.js"></script>

</body>
</html>
