/* box sizing fix */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.playlists {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(auto-fit, 120px);
  grid-row-gap: 20px;
  max-height: 470px;
  overflow: auto;
  /* box-shadow: inset 0 0 15px black; */
  border-radius: 3px;
  padding: 15px;
  outline: 1px solid #d4d4d4;
  margin-top: 16px;
}

.playlist {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.06s ease;
  text-align: center;
}

.playlist:hover {
  background-color: #f1f1f1;
  border-radius: 3px;
  outline: 1px solid grey;
}

.comparisonArea {
    display: flex;
    flex-direction: row;
    outline: 1px solid #d4d4d4;
    max-height: 800px;
    overflow-y: auto;
}

tr.to-delete {
    color: red;
    font-weight: bold;
}

.playlist.selected-using {
    box-shadow: inset 0 0 16px -4px black;
}

.comparisonArea>div {
    width: 50%;
}

button.remove-button {
    font-size: 20px;
    margin-top: 15px;
    padding: 8px;
    margin-bottom: 150px;
}

.playlist-contents-head {}

.comparisonArea table {
    width: 100%;
}

tbody.playlist-contents-body {
}

th {
    top: 1px;
    position: sticky;
    background: #f1f1f1;
    outline: 2px solid #f1f1f1;
}